.about{
    width: 100%;
    position: relative;
    padding: 100px 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
	background-color: white;
}


.about img{
    height: auto;
    width: 420px;
    border-radius: 15px;
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.6s ease-in-out;
}

.about img:hover, .vinny:hover {
    transform: scale(1.1);
}

.carPhoto img{
    transform: scale(1.2); 
    
}

.carPhoto img:hover{
    transform: scale(1.4); 
}



article {
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 1rem;
}
  
article img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
  

figure {
    width: 100%;
    overflow: hidden;
}

figure img {
    overflow: hidden;
    object-fit: contain;
}



.about-text {
    width: 70%;
    margin: 0 10px;
    text-align: justify;
}

.aboutInfo {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.aboutInfo h1 {
    color: rgb(34, 34, 34);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: rgb(34, 34, 34);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.about-text p {
    color: rgb(34, 34, 34);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin: 30px 0;
}

/* MEDIDAS PARA CELULAR Y TABLET VERTICAL */
@media screen and (min-width: 576px) and (max-width: 991.99px) and (orientation: portrait) {

    .about-text {
        width: 100%;
    }

}

@media screen and (max-width: 575.98px) and (orientation: portrait) {

    .aboutInfo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about img, .aboutResponsive img {
        width: 100%;
        max-width: 300px;
    }

    .about-text {
        width: 100%;
        max-width: 350px;
    }

    .about-text h1 {
        font-size: 40px;
    }

    .about-text h5 {
        font-size: 20px;
    }

    .about-text p {
        font-size: 16px;
    }

}

/* MEDIDAS PARA CELULAR Y TABLET HORIZONTAL */
@media screen and (max-width: 879.99px) and (max-height: 605px) and (orientation: landscape) {

    .aboutInfo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about img, .aboutResponsive img {
        width: 100%;
        max-width: 300px;
    }


    .about-text h1 {
        font-size: 40px;
    }

    .about-text h5 {
        font-size: 20px;
    }

    .about-text p {
        font-size: 16px;
    }


}