/* Header */
nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

nav .logo {
    width: 120px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

ul{
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    font-size: 17px;
    transition: all 1s ease;
}

nav ul li a:hover {
    -webkit-text-stroke: 1.5px white;
    transition: all 1s ease;
}


@media screen and (min-width: 740) and (max-width: 991.99px) and (orientation: portrait) {
    nav ul li a {
        font-size: 65%;
    }
}

@media screen and (min-width: 576px) and (max-width: 739.99px) and (orientation: portrait) {
    nav ul li a {
        font-size: 55%;
    }
}

/* MEDIDAS PARA CELULAR VERTICAL */
@media screen and (min-width: 392px) and (max-width: 575.99px) and (orientation: portrait) {
    nav{
        padding: 20px 5px;
    }
   
    nav .logo {
        width: 60px;
    }

    nav ul li a {
        font-size: 60%;
    }

    nav ul li a:hover {
        -webkit-text-stroke: 1px white;
        transition: all 1s ease;
    }
}

@media screen and (max-width: 391.99px) and (orientation: portrait) {
    nav{
        display: flex;
        flex-direction: column;
        padding: 20px 5px;
    }
   
    nav .logo {
        width: 60px;
    }
    
    ul{
        display: flex;
        margin-top: 10px;
        gap: 35px;
    }

    nav ul li a {
        font-size: 55%;
    }

    nav ul li a:hover {
        -webkit-text-stroke: 1px white;
        transition: all 1s ease;
    }
}

/* Footer */

footer {
    background-color: #111;
}

.footerContainer {
    width: 100%;
    padding: 70px 20px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    color: white;
    text-decoration: none;
}

/* Media Query Footer */
@media screen and (max-width: 575.98px) and (orientation: portrait) {

    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}