.home {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.backVideo {
  position: absolute;
  background-size: cover;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 140px;
  color: white;
  font-weight: 600;
  -webkit-text-stroke: 2px white;
  transition: all 0.5s ease;
}

.content h1:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.buttonEffect {
  margin-top: 100px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  line-height: 2.5rem;
  max-width: 160px;
  width: 100%;
  letter-spacing: 0.3rem;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1s ease-in;
}

.buttonEffect svg {
  height: 40px;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.buttonEffect rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 450, 0;
  transition: all 0.7s linear;
}

.buttonEffect:hover rect {
  stroke-width: 5;
  stroke-dasharray: 20, 300;
  stroke-dashoffset: 48;
  stroke: #ffffff;
  transition: all 2s cubic-bezier(0.22, 1, 0.25, 1);
}

/* Media Query */

@media screen and (max-width: 575.98px) and (orientation: portrait) {
  .content h1 {
    font-size: 45px;
    font-weight: 500;
    -webkit-text-stroke: 0px white;
    transition: all 0.5s ease;
  }

  .content h1:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

  .buttonEffect {
    font-size: 12px;
  }
}


@media (min-aspect-ratio: 16/9) {
  .backVideo {
    width: 100%;
    height: auto;
  }

}

@media (max-aspect-ratio: 16/9) {
  .backVideo {
    width: auto;
    height: 100%;
  }
}